<!DOCTYPE html>
<html lang="{{ lang.code }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static './favicon.png' %}" type="image/x-icon" />
    <title>{{ title }}</title>
    {# <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Mitsubishi Motors Việt Nam">
    <meta name="author" content="Experienceday">
    <meta name="keywords" content="Experienceday, Mitsubishi" />
    <meta property="og:title" content="Experienceday | Mitsubishi Motors Vietnam">
    <meta property="og:site_name" content="Mitsubishi Motors">
    <meta property="og:description" content="">
    <meta property="og:url" content="www.med2021.vn">
    <meta property="og:type" content="" /> #}
  </head>

  <body>
    {% include "_header.njk" %}
      <main role="main">
        <div class="container">
          {% block main %}
          {% endblock %}
        </div>
      </main>
    {% include "_footer.njk" %}
  </body>
</html>
